.venv/
pdfs/
extract/
extracted/
extraction_completed/
logs/
done/
pdf_all/
og_images/
__pycache__/
*.pyc
.git/
.DS_Store
venv/
corrections/
docs/
csv_cache/
aws/
debug_images/
extracted_images/
extracted_numbers/
first_pages/    